#gameholder{
    width: 500px;
    height: 400px;
    background: black;
    float: left;
}

#onlineholder{
    height: 600px;
    width: 180px;
    background-color: #f3f3f3;
    border: 2px solid #A7A7A7;
    border-radius: 5px;
    float: left;
    margin-left: 70px;
}


@media only screen and (max-width: 800px) {
    #gameholder{
        width: 250px;
        height: 200px;
        float: none;
    }

    #onlineholder{
        height: 200px;
        width: 250px;
        margin-left: 0px;
        margin-top: 50px;
        float:none;
    }
}