#gameholder{
    width: 500px;
    height: 400px;
    background: black;
    float: left;
}

#onlineholder{
    height: 600px;
    width: 180px;
    background-color: #f3f3f3;
    border: 2px solid #A7A7A7;
    border-radius: 5px;
    float: left;
    margin-left: 70px;
}