#actual-team{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    color: #333;
    font-family: Impact;
    line-height: 1.4;
    text-align: center;
    padding-bottom: 50px;
}

#actual-team-name{
    float: left;
    width: 20%;
    padding-right: 30%;
    color: #AF0000;
}

#actual-team-const{
    float: left;
    width: 20%;
    padding-left: 30%;
}

ul {
    list-style-type: none;
    border: 2px solid #e7e7e7;
    padding: 0;
    overflow: hidden;
    box-sizing: inherit;
    color: #000 !important;
    display:inline-block;
    margin: auto;
    border-radius: 5px
}

li div {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 500;
    background-color: #f3f3f3;
}

li {
    display: inline;
    float: left;
}

li div:hover {
    color: white;
    background-color: #008CBA;
    cursor: pointer;
}

li:last-child {
    border-right: none;
    padding-right: 0;
}

#navbar{
    width: 100%;
    margin: auto;
    text-align: center;
}

#searchimg{
    width: 15px;
    height: auto;
}

#actialandbarholder{
    width: 700px;
    margin: auto;
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    border-radius: 3px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

#leavingdiv{
    font-family: Bookman;
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    display: block;
    color: #FF0000;
}

#leaving{
    text-align: center;
    padding: 4px 12px;
    text-decoration: none;
    font-weight: 500;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 5px;
    border: 2px solid #e7e7e7;
    background: #2e6da4;
    color: white;
}

#leaving:hover{
    cursor: pointer;
}


#teamnameholder{
    margin: auto;
    padding-top: 50px;
    width: 50%;
}